.button {
  width: 200px;
  height: 42px;
  outline: none;
  background: #5B5B5B;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}