@font-face {
  font-family: "RobotoBlack";
  src: url('../static/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: "RobotoBold";
  src: url('../static/fonts/Roboto-Bold.woff');
}

@font-face {
  font-family: "RobotoRegular";
  src: url('../static/fonts/Roboto-Regular.woff');
}

@font-face {
  font-family: "Helvetica";
  src: url('../static/fonts/HelveticaNeueCyrMedium.woff');
}

@font-face {
  font-family: "HelveticaBold";
  src: url('../static/fonts/HelveticaNeueCyrBold.woff');
}

@font-face {
  font-family: "Helvetica";
  src: url('../static/fonts/HelveticaNeueCyrMedium.woff');
}

@font-face {
  font-family: "HelveticaBold";
  src: url('../static/fonts/HelveticaNeueCyrBold.woff');
}

@font-face {
  font-family: "PodkovaVariable";
  src: url('../static/fonts/PodkovaVariable.ttf');
}