.show-more {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 14px;
  color: #C4C4C4;

  &__arrow {
    margin-right: 5px;

    &>path {
      fill: #C4C4C4
    }
  }
}