@import '../../styles/main.scss';

.container {
  position: relative;
  &__error {
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 0, 0, 0.75);
    position: absolute;
    z-index: 9999;
    bottom: -15px;
    transform: translateY(50%);
    left: 0px;
  }
  @media (max-width: $breakpointLG) {
    &__error {
      bottom: -14px;
      font-size: 12px;
      line-height: 14px;
    }
  }
  @media (max-width: $breakpointSM), (max-width: $breakpointLG) and (orientation: landscape) {
    width: 100%;
    &__error {
      bottom: -14px;
      font-size: 11px;
      line-height: 13px;
    }
  }
}

.contacts {
  position: relative;
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(145.22deg, rgba(104, 226, 252, 0.85) 0%, rgba(2, 58, 255, 0.85) 100%);
  padding-top: 15px; //30
  padding-left: 30px;
  h2 {
    font-family: $fontFamilySecondary;
    font-size: 33px;
    line-height: 39px;
    color: #ffffff;
    &::after {
      content: '';
      display: block;
      width: 63px;
      height: 1px;
      margin-top: 20px;
      margin-bottom: 33px;
      background-color: #ffffff;
    }
  }
  &-dark{
    background: #020214;
    h2 {
      &::after {
        background-color: #1B1B31;
      }
    }
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-input {
      &-btn-container {
        width: 392px;
        display: flex;
        justify-content: center;
      }
      &-text, &-textarea {
        width: 392px;
        font-family: $fontFamily;
        outline: none;
        height: 44px;
        padding-left: 14px;
        margin-top: 34px;
        border: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 7px;
        &--error {
          border: 1px solid rgba(255, 0, 0, 0.75);
        }
        &::placeholder {
          font-family: $fontFamily;
          font-size: 14px;
          line-height: 16px;
          color: #b0b0b0;
        }
      }
      &-textarea{
        height: 200px;
        resize: none;
        padding-top: 17px;
      }
      &-btn{
        margin: 40px 0 0 0;

        @media (max-width: 540px) {
          margin: 28px 0 20px 0;
        }
      }
    } 
    &-group {
      display: flex;
      flex-direction: column;
      &-three {
        display: flex;
        flex-direction: column;
      }
    }
    &-dark{
      input, textarea{
        background-color: #020214;
        border: 1px solid #ffffff;
        color: #B0B0B0;
        &::placeholder {
          color: #B0B0B0;
        }
      }
      &--error {
        border: 1px solid rgba(255, 0, 0, 0.75)!important;
      }
    }
  }
  @media (max-width: $breakpointLG) {
    width: 100%;
    min-height: 50vh;
    padding-right: 30px;
    padding-top: 30px;
    &__form {
      width: 100%;
      margin: 0 auto;
      &-input {
        &-text {
          width: 283px;
        }
        &-textarea{
          width: 291px;
        }
        &-btn {
          &-container {
            width: 100%;
          }
        }
      } 
      &-group {
        flex-direction: row;
        margin-top: -30px;
        justify-content: space-between;
        &-three {
          width: 283px;
          flex-direction: column;
        }
      }
    }
  }
  @media (max-width: $breakpointSM), (max-width: $breakpointLG) and (orientation: landscape) {
    min-width: 320px;
    min-height: 580px;// height: 130%;
    padding: 0 20px;
    padding-top: 10px;
    h2 {
      font-size: 25px;
      &::after {
        margin-top: 16px;
        margin-bottom: 10px;
        width: 47px;
      }
    }
    &__form {
      margin-top: 15px;
      width: 100%;
      &-input {
        &-text, &-textarea, &-btn {
        width: 100%;
        margin-top: 28px;
      }
        &-btn {
          width: 200px;
          &-container{ 
            width: 100%;
          }
        }
        &-textarea{
          height: 192px;
        }
      } 
      &-group {
        flex-direction: column;
        align-items: center;
        &-three {
          width: 100%;
        }
      }
    }
  }
}
