.partners-section__content {
  height: 100%;
}

.section__partners-title {
  margin-top: 40px;
  font-weight: bold;
  font-size: 33px;
  color: #5B5B5B;
  text-align: center;

  &_dark {
    color: #ffffff;
  }

  @media (max-width: 1280px) {
    font-size: 33px;
  }

  @media (max-width: 568px) {
    font-size: 25px;
    line-height: 29px;
    margin-top: 20px;
  }

}

.section_partners {
  padding: 0;
}
