@import '../../styles/main.scss';

.socials {
  min-height: 100vh;
  height: 100%;
  width: 50%;
  padding-top: 15px;
  padding-left: 30px;
  &__title {
    font-family: $fontFamilySecondary;
    font-size: 33px;
    line-height: 39px;
    color: $titleFontColor;
    &::after {
      content: '';
      margin-top: 20px;
      margin-bottom: 64px;
      display: block;
      width: 63px;
      height: 1px;
      background-color: #F4F4F4;
    }
    &-dark{
      color: #ffffff;
      &::after {
        background-color: #1B1B31;
      }
    }
  }
  &__block {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: $fontFamily;
    color: $titleFontColor;
    &-dark{
      color: #ffffff;
    }
    h3 {
      font-size: $contactPageSubtitleFontSize;
      line-height: 29px;
    }
    &_bottom {
      margin-top: 18px;
      display: flex;
      align-items: baseline;
      h3 {
        font-size: $subtitleFontSize;
        line-height: 16px;
        margin-left: 10px;
      }
      a {
        margin-right: 30px;
        cursor: pointer;
      }
    }
  }
  @media (max-width: $breakpointMD) {
    min-height: 50vh;
    width: 100%;
    padding-top: 30px;
  }
  @media (max-width: $breakpointSM), (max-width: $breakpointLG) and (orientation: landscape) {
    min-height: 370px;
    width: 100%;
    padding: 10px 20px 0px;
    &__title {
      font-size: 25px;
      line-height: 29px;
      &::after {
        margin-top: 16px;
        margin-bottom: -15px;
        width: 47px;
      }
    }
    &__block {
      margin-top: 30px;
      h3 {
        font-size: 20px;
        line-height: 23px;
      }
      &_bottom {
        width: 200px;
        margin-top: 15px;
        h3 {
          font-size: 14px;
          line-height: 16px;
        }
        a {
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}