.cookie-banner {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100px;
  background-color: #F2F2F270;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483646;

  &__text {
    font-size: 16px;
    color: #5B5B5B;
    max-width: 587px;
    margin-right: 51px;
  }

  &__btn {
    background: #5B5B5B;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    max-width: 242px;
    max-height: 44px;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    right: 30px;
    left: unset;
    max-width: 257px;
    max-height: 233px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 39px 0;

    &__text {
      font-size: 14px;
      text-align: justify;
      max-width: 203px;
      margin-right: 0;
      margin-bottom: 35px;
    }

    &__btn {
      max-width: 210px;
      max-height: 40px;
    }
  }

  @media (max-width: 576px) {
    left: 0;
    right: unset;
    max-width: unset;
    max-height: 164px;
    padding: 15px 0;

    &__text {
      max-width: unset;
      padding: 0 30px;
    }

    &__btn {
      max-width: 289px;
      max-height: 40px;
    }
  }
}